<!DOCTYPE html>
<html>
<head>
  <title>SpotiplayRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="://cdnjs.cloudflare.com/ajax/libs/immutable/3.7.6/immutable.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
